<!DOCTYPE html>
<html>
<head>
  <title>Blorgh</title>
  <%= stylesheet_link_tag    "blorgh/application", media: "all" %>
  <%= stylesheet_link_tag "scaffold" %>
  <%= javascript_include_tag "blorgh/application" %>
  <%= csrf_meta_tags %>

  <style>
    body {
        background-color: pink;
    }
    .title {
        font-size: 48px;
    }
  </style>
</head>
<body>
<p class="title">
  <span style="color:red">U</span><span style="color:orange">n</span><span style="color:yellow">i</span><span style="color:green">c</span><span style="color:blue">o</span><span style="color:indigo">r</span><span style="color:violet">n</span>
</p>
<%= yield %>

</body>
</html>
